@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
:root {
    --background: 216 13% 15%;
    --foreground: 219 18 % 71%;
    --muted: 216 12% 19%;
    --muted-foreground: 216 12 % 69%;
    -popover: 216 13% 12%;
    --popover-foreground: 219 18 % 81%;
    --card: 216 13% 13%;
    --card-foreground: 219 18 % 76%;
    --border: 216 3% 20%;
    --input: 216 3% 23%;
    -primary: 219 18% 81%;
    --primary-foreground: 219 18 % 21%;
    -secondary: 219 8% 25%;
    --secondary-foreground: 219 8% 85%;
    --accent: 216 13% 30%;
    --accent-foreground: 216 13% 90%;
    --destructive: 3 95% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 219 18 % 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animatedBackground {
background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f, #6a85b6, #bac8e0, #2c3e50, #34495e, #1c2833, #0e2f44);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
}

/* Animation permanente */
.permanent-animation {
  display: inline-block;
  position: relative;
  font-size: 18px;
  text-decoration: none;
  animation: float 2s infinite ease-in-out;
  /* L'animation est permanente */
}

/* Keyframes pour l'effet de mouvement */
@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }

  50% {
    transform: translateY(-5px) scale(1.1);
    /* Lien monte et grandit légèrement */
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}